<h1>List of all blogs</h1>
<%= render 'devise/shared/logged_in_as', user: current_user %>

<p> 
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete%> |
  <%= link_to  "List of Users", users_path %> |
  <%= link_to  "Write new blog", new_user_blog_path(user_id: current_user.id) %>
</p>


<% if @blogs.empty? %>
  <span> No blogs yet. </span>
<% else %>
  <table>
      <tr>
        <th>Writter</th>
        <th>Title</th>
        <th>Blog</th>
      </tr>
    <% @blogs.map do |blog|%>
      <tr>
        <td><%= link_to  blog.user.username, users_path(blog.user) %></td>
        <td><strong><%= blog.title%></strong></td>
        <td><%= blog.content_text%></td>
        <td><%= link_to  "Show", user_blog_path(blog.user, blog) %></td>
          <% if blog.user == current_user %>
            <td><%= link_to  "Edit", edit_user_blog_path(blog.user, blog) %></td>
            <td><%= link_to  "Delete", user_blog_path(blog.user, blog), method: :delete %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
