<h1> Write new blog </h1>

<%= form_with model: @blog, url: user_blogs_path(@user), local: true do |f| %>
  <%= render 'devise/shared/error_general', resource: @blog %>
  <div>
    <strong>Title: </strong>
    <%= f.text_field :title %>
  </div>
  <br>
   <div>
    <strong>Content: </strong>
    <%= f.text_area :content_text %>
  </div>
  <br>
  <%= f.submit%>
<% end %>

<%= link_to  "Back", user_path(@user) %>
