<%= render 'devise/shared/header' %>

<div class="login-body">
  <div class="title">
    Login
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-parts">
    <span class="label">Firstname</span>
    <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "field" %>
    </div>

    <div class="form-parts">
    <span class="label">Lastname</span>
    <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "field" %>
    </div>

    <div class="form-parts">
    <span class="label">Username</span>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "field" %>
    </div>

    <div class="form-parts">
      <span class="label">Email</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
    </div>

    <div class="form-parts">
      <span class="label">Password</span>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
    </div>

    <div class="form-parts">
      <span class="label">Confirm Password</span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
