<h1>Edit User</h1>

<%= link_to  "Back", user_index_path %> |
<%= link_to  "Show", user_path(@user) %>
<%= form_with model: @user, url: user_path , local: true do |f| %>
   <%= render "devise/shared/error_messages", resource: @user %>
  <table>
    <tr>
      <td><strong> Firstname: </strong></td>
      <td><%= f.text_field :firstname %></td>
    </tr>
     <tr>
      <td><strong> Lastname: </strong></td>
      <td><%= f.text_field :lastname %></td>
    </tr>
     <tr>
      <td><strong> Username: </strong></td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td><strong> Email: </strong></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><strong> Password: </strong></td>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>

