
<%= render 'devise/shared/logged_in_as', user: current_user %>
<%= render 'layouts/username', user: @user%>
<p>
  <%= link_to  "list of users", users_path %> |
  <%= link_to  "All Blogs", root_path() %>
</p>

<h2> Blogs: </h2>


<% if current_user == @user %>
  <p><%= link_to  "Write new blog", new_user_blog_path(user_id: current_user.id) %></p>
<% end %>


<% if @user.blogs.empty? %>
  <span> No blogs yet. </span>
<% else %>
  <table>
    <% @blogs.map do |blog|%>
      <tr>
        <td><strong><%= blog.title%></strong></td>
        <td><%= blog.content_text%></td>
        <td><%= link_to  "Show", user_blog_path(blog.user, blog) %></td>
          <% if blog.user == current_user %>
            <td><%= link_to  "Edit", edit_user_blog_path(blog.user, blog) %></td>
            <td><%= link_to  "Delete", user_blog_path(blog.user, blog), method: :delete %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
