
<%= render 'devise/shared/logged_in_as', user: current_user %>
<p>
  <%= link_to  "list of users", index_user_path %> |
  <%= link_to  "All Blogs", index_blog_path(user_id: current_user) %>
</p>

<h2> Blogs: </h2>


<% if current_user == @user %>
  <p><%= link_to  "Write new blog", new_blog_path(user_id: current_user.id) %></p>
<% end %>



<% if @user.blogs.empty? %>
  <span> No blogs yet. </span>
<% else %>
  <table>
    <% @blogs.map do |blog|%>
      <tr>
        <td><strong><%= blog.title%></strong></td>
        <td><%= blog.content_text%></td>
        <td><%= link_to  "Show", show_blog_path(user_id: @user.id, blog_id: blog.id) %></td>
          <% if blog.user == current_user %>
            <td><%= link_to  "Edit", edit_blog_path(user_id: @user.id, blog_id: blog.id) %></td>
            <td><%= link_to  "Delete", delete_blog_path(user_id: @user.id, blog_id: blog.id), method: :delete %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
