<h1>All Users</h1>
<%= render 'devise/shared/logged_in_as', user: current_user %>
<p>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete%> |
  <%= link_to  "All Blogs", index_blog_path(user_id: current_user) %> |
  <%= link_to  "Write new blog", new_blog_path(user_id: current_user.id) %>
</p>

<table>
  <tr>
    <td>Firstname: </td>
    <td><%= current_user.firstname %></td>
  </tr>
   <tr>
    <td>Lastname: </td>
    <td><%= current_user.lastname %></td>
  </tr>
   <tr>
    <td>Username: </td>
    <td><%= current_user.username %></td>
  </tr>
   <tr>
    <td>email: </td>
    <td><%= current_user.email %></td>
  </tr>
</table>
<td><%= link_to  "Blogs", user_path(current_user) %></td>
<td><%= link_to  "Edit", edit_user_path(current_user) %></td>
<td><%= link_to  "Delete", user_path(current_user), method: :delete %></td>
<br>
<br>
<br>
<table>
List of Users:
    <tr>
      <th>Firstname</th>
      <th>lastname</th>
      <th>username</th>
    </tr>
    
    <% if @users.count == 1 %>
      <td> No other users. </td>
    <% else %>
      <% @users.map do |user|%>
        <% if user != current_user %>
          <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.username %></td>
            <td><%= link_to  "Blogs", user_path(user) %></td>
          </tr>
        <% end %>
      <% end %> 
    <% end %>
</table>

