<h1>Create New User</h1>

<%= form_with model: @user, url: create_user_path , local: true do |f| %>
  <table>
    <tr>
      <td><strong> Firstname: </strong></td>
      <td><%= f.text_field :firstname %></td>
    </tr>
    <tr>
      <td><strong> Lastname: </strong></td>
      <td><%= f.text_field :lastname %></td>
    </tr>
    <tr>
      <td><strong> Username: </strong></td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td><strong> Password: </strong></td>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
